[submodule "metas/meta-openembedded"]
	path = metas/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "metas/meta-raspberrypi"]
	path = metas/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = kirkstone
[submodule "PocoYocto-env"]
	path = PocoYocto-env
	url = https://github.com/damiannogueiras/PocoYocto-env.git
	branch = main
