[Unit]
Description=WPA supplicant for wlan0
After=network.target

[Service]
Type=simple
ExecStart=/sbin/wpa_supplicant -i wlan0 -c /etc/wpa_supplicant/wpa_supplicant.conf -Dwext
Restart=always

[Install]
WantedBy=multi-user.target
