[Unit]
Description=WPA Supplicant for wlan0
Before=network-online.target
Wants=network-online.target

[Service]
Type=dbus
BusName=fi.w1.wpa_supplicant1
ExecStart=/sbin/wpa_supplicant -u -s -O /run/wpa_supplicant
Restart=on-failure

[Install]
WantedBy=multi-user.target
